html {
    width: 1500px;
    background-color: black;
}


#GTA6-header {
    max-width: 100%;
    width: 750px;
    background-size: cover;
    float: left;
    position: relative;
}

#header-text {
    background-color: black;
    color:white;
    font-weight: bold;
     border-top: 20px;
    padding: 20px;
    position: relative;
    float: left;
    width: 550px;
    left: 100px;
}

button {
    background-color: black;
    border-color: white;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: large;
}

button:hover {
    background-color: #ffab00;
    color: black;
}

main {
    padding: 2px;
    background-color: grey;
}

footer {
    color: white;
}

link:hover {
    background-color: #ffab00;
    color: black;
}
